/* ==== Styles globaux ==== */
* { margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style: none; }
li { background-repeat: no-repeat ; background-position: left center;}
.break-word { word-break: break-all; overflow-wrap: anywhere; hyphens: auto; }

body {
	font-family: "Gotham", sans-serif;
	background: #121214;
	line-height: 1.6rem;
	font-size: 1rem;
	color: #ffffff;
}
/* ==== Couleurs ==== */
.font-yellow { color: #f9e25b; }
.font-green { color: #63ff43; }
.font-red { color: #af0022; }
.font-black { color: #000; }
.background-yellow { background-color: #f9e25b; }
.background-red { background-color: #f52639; }
.background-grey { background-color: #222; }
.background-black { background-color: #000; }

/* ==== Titres ==== */
h1, h2, h3, h4, h5 {
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 1.3;
}
h1 { font-size: clamp(2.5rem, 5vw, 4rem); font-weight: 800; }
h2 { font-size: clamp(1.8rem, 4vw, 2.8rem); }
h3 { font-size: clamp(1.5rem, 3vw, 2.25rem); }
h4 { font-size: clamp(1.2rem, 2.5vw, 1.8rem); }
h5 { font-size: clamp(1rem, 2vw, 1.3rem); }

/* ==== Code ==== */
code { font-size: 0.8em; padding: 10px; }

/* ==== Banniere ==== */
header#banniere { width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 2em;}
header#banniere div { width: 100%; margin: auto; text-align: center; }
img#logo_left { width: 300px; max-width: 100%; height: auto; margin-right: 20px; }

/* ==== Menu principal (top) ==== */
#menu_top { max-width: 70ch; margin: 0 auto auto 10px; display: flex; align-items: flex-start; }
#menu_top ul { list-style: none; padding: 0; margin: 0; display: flex; justify-content: center; }
#menu_top ul li { margin: 0 10px 0 0; background: #f2e25b; padding: 0 10px; font-weight: 800; transition: background 0.2s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; position: relative; ; border: thin solid #f2e25b; }
#menu_top ul li a { color: #1a1a1a; text-decoration: none; font-weight: bold; transition: color 0.3s ease; display: block; }
#menu_top ul li:hover { background: #1a1a1a; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
#menu_top ul li:hover > a { color: #f2e25b; }
#menu_top ul li.selected { background: transparent; border: thin solid #f2e25b; }
#menu_top ul li.selected a {color: #f2e25b;}

/* ==== Dropdown ==== */
#menu_top ul li .submenu { display: none; position: absolute; top: 100%; left: 0; list-style: none; padding: 0; margin: 0; background: #f2e25b; min-width: 200px; flex-direction: column; z-index: 999; }
#menu_top ul li .submenu li { margin: 0; padding: 0; background: #f2e25b; }
#menu_top ul li .submenu li a { padding: 8px 10px; font-size: clamp(1rem, 1.7vw, 1rem); white-space: nowrap; }
#menu_top ul li .submenu li:hover { background: #1a1a1a; }
#menu_top ul li .submenu li:hover a { color: #f2e25b; }
#menu_top ul li.dropdown:hover .submenu { display: flex; }

/* ==== Bloc central ==== */
main#center {
	width: 100%; 
	display: flex;
	flex-direction: row;
	align-items: top;
	text-align: left;
	margin: 0 auto;
}

/* ==== Sidebar ==== */
#sidebar { background: #222; padding: 1rem; width: 30%; margin-top: 30px; min-width: 360px;}
#sidebar a { color: #fff; }
#sidebar a:hover { color: #f2e25b; }
#sidebar li { list-style: none; }

/* ==== Bouton rejoindre ==== */
#rejoindre {padding: 5px 10px; width: 100%;
	align-items: center; justify-content: center; font-size: 1.5em; font-weight: 800; font-family: 'Inter', Arial, sans-serif; transform: rotate(1deg);}
#rejoindre { display: none; }
#rejoindre { display: flex; transform: rotate(-1deg) scale(1.08) translateY(-20px); }
#rejoindre::before {
	content: "\002B07";
	margin-right: 15px;
	font-weight: 800;
}
#rejoindre::after {
	content: "\002B07";
	margin-left: 15px;
}

#sidebar ul.sidebar-section-1 > li > ul > li{
	margin: 15px 0 30px 0;
}

#sidebar ul.sidebar-section-2 > li > ul > li {
	margin: 15px 0 15px 0;
}

#sidebar ul.sidebar-section-2 p {
	font-weight: 600;
}

/* ==== Contenu principal de la page ==== */
#content {
	width: 100%;
	margin: 0 20px 0 20px;
}

#content .postit {
	max-width: 100%;
	padding: 50px;
	transform: rotate(-1deg) translateX(-20px) translateY(-20px);
	margin: 0 20px 0 20px;
}
#content .postit div.postit-content {
	transform: rotate(1deg) translateX(20px) translateY(20px);
}
#content section.postit ul {
  padding-left: 50px;
  margin: 1.5em 0;
  font-weight: bold;
}
#content section.postit ul li {
  background: url("/global/img/gyro.gif") no-repeat center left;
  padding: 0 0 0 30px;
  font-weight: bold;
  display: flex;
}
#content p.big, #content p.big p, #content p.big span { font-size: clamp(2rem, 1.8vw, 1.25rem); margin: 60px 0; }

#content p, #content span, #content li {
  font-size: clamp(1.05rem, 1.8vw, 1.25rem);
  line-height: 1.6;
  margin-bottom: 1em;
}
/* ==== Bas de page ==== */
#footer {
	width: 100%;
	margin: 50px;
}
#footer section.postit {
	max-width: 95%;
	transform: rotate(-1deg) translateX(-20px) translateY(-20px);
	padding: 50px;
	margin-top: 40px;
	border: thin solid #e9d25b;
}
#footer section.postit div {
	transform: rotate(1deg) translateX(20px) translateY(20px);
}

/* ==== Petits écrans ==== */
@media only screen and (max-width: 800px) {
	main#center { flex-direction: column; align-items: center; text-align: left; }
	#sidebar { order: 2; width: 100%; }
	#content { order: 1; margin-top: 30px;}
}