@import 'tailwindcss';

/* Couleurs du Thème */
:root {
  --color-primary-yellow: #F2CE1A;
  --color-primary-yellow-light: #FFF476;
  --color-alert-red: #FF0000;
  --color-alert-red-light: #FFABAB;
  --color-neutral-dark: #1D1D1B;
  --color-neutral-medium: #5D5B54;
  --color-neutral-light: #C1C0BB;
  --color-neutral-cream: #F9F8E9;
}

/* Classes utilitaires basées sur le thème */
.bg-primary-yellow { background-color: var(--color-primary-yellow); }
.bg-primary-yellow-light { background-color: var(--color-primary-yellow-light); }
.bg-neutral-cream { background-color: var(--color-neutral-cream); }
.bg-neutral-dark { background-color: var(--color-neutral-dark); }
.bg-neutral-medium { background-color: var(--color-neutral-medium); }
.bg-neutral-light { background-color: var(--color-neutral-light); }

.text-primary-yellow { color: var(--color-primary-yellow); }
.text-primary-yellow-light { color: var(--color-primary-yellow-light); }
.text-neutral-dark { color: var(--color-neutral-dark); }
.text-neutral-medium { color: var(--color-neutral-medium); }
.text-neutral-light { color: var(--color-neutral-light); }

.border-primary-yellow { border-color: var(--color-primary-yellow); }
.border-primary-yellow-light { border-color: var(--color-primary-yellow-light); }
.border-neutral-dark { border-color: var(--color-neutral-dark); }
.border-neutral-medium { border-color: var(--color-neutral-medium); }
.border-neutral-light { border-color: var(--color-neutral-light); }

.focus\:ring-primary-yellow:focus { --tw-ring-color: var(--color-primary-yellow); }
.hover\:bg-primary-yellow-light:hover { background-color: var(--color-primary-yellow-light); }
.hover\:bg-neutral-light:hover { background-color: var(--color-neutral-light); }

.font-theme { font-family: 'Inter', sans-serif; }

.geolien-card h3 {
	word-break: break-all;
	hyphens: auto;
}

.geolien-card .truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.geolien-card {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.geolien-card .flex-1 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.btn-primary {
	background-color: var(--color-primary-yellow);
	color: var(--color-neutral-dark);
	text-transform: uppercase;
	padding: 0.45rem 0.5rem;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: var(--color-primary-yellow-light);
	}
}

.btn-primary:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--color-neutral-cream);
}

.navbar-link {
	@apply flex items-center gap-1 shrink-0 p-2 md:min-w-24 text-sm font-medium transition;
	color: var(--color-neutral-dark);
	border-color: var(--color-neutral-medium);

	&.active, &:hover {
		background-color: var(--color-primary-yellow-light);
	}

	&.active {
		background-color: var(--color-primary-yellow);
		pointer-events: none;
	}
}

.navbar-link:focus {
	outline: 2px solid var(--color-alert-red);
}
