/* ==== COLORS ==== */

/* #F2CE1A */
/* #FFF476 */
/* #FF0000 */
/* #FFABAB */
/* #1D1D1B */
/* #5D5B54 */
/* #C1C0BB */
/* #F9F8E9 */

/* ==== FONTS ====

Inter, sans-serif;

BIG TITLES : 24px / 32px BOLD
TITLES : 20px / 28px BOLD
SUBTITLES : 16px / 24px SEMIBOLD
TEXT : 14px / 16px MEDIUM
DETAILS : 10px / 12px MEDIUM

*/