---
import { Lieu } from "../types/geoliens";
import GeoLien from "./GeoLien.astro";

const { lieu } = Astro.props as { lieu: Lieu };
---
  <li>
    <p class="font-yellow">{lieu?.nom}</p>
    {lieu?.liens?.length > 0 && (
      <ul>
        {lieu.liens.map(lien => <GeoLien lien={lien} />)}
      </ul>
    )}

    {lieu?.sousLieux?.length > 0 && (
      <ul>
        {lieu.sousLieux.map(sousLieux => <Astro.self lieu={sousLieux} />)}
      </ul>
    )}
  </li>