---
import { Lien } from "../types/geoliens";

const { lien } = Astro.props as { lien: Lien };
---
<li class={lien.type?.toLowerCase()}>
  <p>{lien.type}</p>
  <ul>
    <li>
      <a href={lien.url} target="_blank" rel="me noopener noreferrer">
        {lien.nom}
      </a>
    </li>
  </ul>
</li>