---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-wrap gap-2 mb-6">
  <button id="hierarchical-view-btn" class="p-2 text-xs uppercase bg-neutral-dark border text-neutral-medium rounded flex items-center gap-2 font-medium">
    <Icon name="list" class="w-4 h-4" />
    Par région
  </button>

  <button id="map-view-btn" class="p-2 text-xs uppercase bg-neutral-dark border text-neutral-medium rounded flex items-center gap-2 font-medium">
    <Icon name="map-pin" class="w-4 h-4" />
    Cartographie
  </button>

  <button id="list-view-btn" class="p-2 text-xs uppercase bg-primary-yellow border text-neutral-dark rounded colors active flex items-center gap-2 font-medium">
    <Icon name="list" class="w-4 h-4" />
    Liste
  </button>
</div>